$prime-color: hsl(50, 100%, 50%);
$prime-color-lighter: lighten($prime-color, 20%);
$prime-color-darker: darken($prime-color, 20%);

$secondary-color: #4a4a4a;

$white: #fff;
$black: #000;
$gray: #656565;

$font-color: #333333;